<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">CMAC Tutorials</h5>
        <p class="grey-text text-lighten-4">Computational Media Arts and Culture 2017</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Linkedin</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Google +</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Computational Media Arts and Culture
    <a class="grey-text text-lighten-4 right" href="#!">About</a>
    <%= link_to "about", pages_about_path, :class => "brown lighten-4"%>
    </div>
  </div>
</footer>