<h3>My Projects</h3>

<div class="row" data-no-turbolink>
<br/>
	
	<% if @projects.count > 0 %>


	<% @projects.each do |project| %>
		<%= link_to project do %>
			<div class="col s12 m6 l4">
				<div class="card">
					
					<div class="card-content" style="height: 6em">
						<span class="card-title grey-text text-darken-4">
							<%= project.shortname %>
						</span>
					</div>

				</div>
			</div>
		<% end %>
	<% end %>
  <% else %>
  	<div class="center">
  		<h5>You're currently not in any projects</h5>
  		<%= link_to "Show me all of my Projects", root_path, clas: "btn btn-primary" %>
  	</div>
  <% end %>
</div>
